<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-GB">
<head>
  <title>Asher Roby's Blog</title>
  <meta http-equiv="Content-Type" content="application/xhtml+xml; charset=utf-8" />
  <meta name="description" content="Ashers place on the internet to write about stuff that he finds interesting. Mostly computers" />
  <meta name="keywords" content="Asher Roby. Discussion. Internet. Tech Professional" />
  <meta name="robots" content="index, follow" />
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
  <link rel="stylesheet" type="text/css" href="/css/screen.css" media="screen" />
  <script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-25047860-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</head>
<bodyclass="home blog">

<body class="home blog">

<div id="wrapper">





<div id="header">

    <div id="header_left">

      <div id="header_img" class="left">

      

            

      </div>

      <div id="header_title" class="left">

      <h1><a href="http://www.asherroby.net">Asher Roby&#039;s Blog</a></h1>      <p class="description">tech blog and other mental meanderings</p>     </div>

      <div class="clearleft"></div>

    </div>

            <div id="header_right">

                  <div id="social">

        <div id="rss" class="socialbox">

                <a href="http://www.asherroby.net/feed/" title="RSS feed"><p>RSS</p></a>

        </div>

        

                

        

        <div class="clearright"></div>

      </div>  

                  <div id="search">

                        

  <form id="searchform" action="http://www.asherroby.net" method="get">

    <input type="text" id="searchinput" name="s" class="searchinput" value="search" onfocus="if (this.value == 'search') {this.value = '';}" onblur="if (this.value == '') {this.value = 'search';}" />

    <input type="submit" id="searchsubmit" class="s-button" value="" />

    <div class="clear"></div>

  </form>

                  </div>

            </div>

            <div class="clear"></div>

                        <div id="navi_wrap">

                <ul id="navmenu">

                <li  class="current_page_item"><a href="http://www.asherroby.net">Home</a></li>

            

      <li class="page_item page-item-10"><a href="http://www.asherroby.net/contact-me/">Contact me</a></li>
      

          </ul><!-- end navmenu-->

                </div>

        

</div><!-- end header -->



<div id="container">



  





    





  <div id="sidebar_sm" class="sb_onleft left">

    <ul>

                                                

                  

                  

      <li id="text-3" class="widget widget_text"><h2 class="widgettitle">Links</h2>
      <div class="textwidget"><ul>

 <li>

  <a href="www.weipaonline.com">Weipaonline</a>

 </li>

 <li>

  <a href="http://michael-wheeler.org/">Michael Wheeler</a>

 </li>

</ul></div>
    </li>
    </ul>

  </div><!--end sidebar_sm-->

  <div id="sidebar_big" class="sb_onright right">

    <ul>

        

                <li>

      <h2>Categories</h2>

      <ul>

          <li class="cat-item cat-item-8"><a href="http://www.asherroby.net/category/mental-meandering/" title="View all posts filed under mental meandering">mental meandering</a>
</li>
  <li class="cat-item cat-item-3"><a href="http://www.asherroby.net/category/tech/" title="View all posts filed under tech">tech</a>
<ul class='children'>
  <li class="cat-item cat-item-5"><a href="http://www.asherroby.net/category/tech/reviews/" title="View all posts filed under reviews">reviews</a>
</li>
  <li class="cat-item cat-item-9"><a href="http://www.asherroby.net/category/tech/security/" title="View all posts filed under security">security</a>
</li>
  <li class="cat-item cat-item-4"><a href="http://www.asherroby.net/category/tech/xml/" title="View all posts filed under xml">xml</a>
</li>
</ul>
</li>
      </ul>

    </li>

                        

            <li>

      <h2>Recent Posts</h2>

      <ul>

          <li><a href='http://www.asherroby.net/2011/09/todoist-vs-workflowy/' title='Todoist vs workflowy'>Todoist vs workflowy</a></li>
  <li><a href='http://www.asherroby.net/2011/09/passwords/' title='Passwords'>Passwords</a></li>
  <li><a href='http://www.asherroby.net/2011/08/the-internetz-are-cool/' title='The Internetz are cool'>The Internetz are cool</a></li>
  <li><a href='http://www.asherroby.net/2011/08/todoist/' title='Todoist'>Todoist</a></li>
  <li><a href='http://www.asherroby.net/2011/08/xml-and-my-love-hate-relationship/' title='XML&#8230; and my love / hate relationship'>XML&#8230; and my love / hate relationship</a></li>
      </ul>

    </li>

            

                  

            <li>

      <h2>Archives</h2>

      <ul>

          <li><a href='http://www.asherroby.net/2011/09/' title='September 2011'>September 2011</a></li>
  <li><a href='http://www.asherroby.net/2011/08/' title='August 2011'>August 2011</a></li>
      </ul>

    </li>

    

                

    <li>

      <h2>Meta</h2>

      <ul>

                <li><a href="http://www.asherroby.net/wp-login.php">Log in</a></li>

      </ul>

    </li>



    

          </ul>

  </div><!--end sidebar_big-->





    <div id="content" class="right">
    {{content}}
  </div><!--end content-->
<div class="clear"></div>

</div> <!--end container-->

<div id="footer">

  <div id="copyright"><strong>Copyright &copy; 2012</strong>  &middot; <a href="http://www.asherroby.net">Asher Roby&#039;s Blog</a></div>

      <div id="credit">Powered by Jekyll 


    </div>

      <div class="clear"></div>
  </div><!--end footer-->
</div><!--end wrapper-->
</body>
</html>
